<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Edit Account{% endtrans %}</title>
<style media="screen">
.rightJustified {
	text-align: right;
}
.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
	font-size: 80%;
}

th {
	font-size: 70%;
}

.nopadding {
	 padding: 0 !important;
	 margin: 0 !important;
}
</style>
</head>
<body >
	<div class="container-fluid">
		<div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			{% trans %}Account edited successfully.{% endtrans %}
		</div>

		<div class="alert alert-success" id="delsuccess-alert"  aria-live="rude" role="alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			{% trans %}Account deleted successfully.{% endtrans %}
		</div>

		<div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			{% trans %}Account could not be edited.{% endtrans %}
		</div>
		<div class="alert alert-danger" id="blank-alert"  aria-live="rude" role="alert" hidden>

			{% trans %}Please enter account name!{% endtrans %}
		</div>

		<div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

			{% trans %}Account already exists!{% endtrans %}
		</div>

		<div class="alert alert-danger" id="transaction-alert"  aria-live="rude" role="alert" hidden>

		  {% trans %}Account cannot be deleted!{% endtrans %}
		  {% trans %}There are transactions in this account.{% endtrans %}
		</div>
		
		<div class="alert alert-danger" id="nsblank-alert"  aria-live="rude" role="alert" hidden>

		  {% trans %}Please enter new sub-group name!{% endtrans %}
		</div>

		<div style="padding-top:5px" class="mainbox col-md-6">
			<div class="panel shadow" >
				<div class="panel-heading">
					<div class="panel-title">{% trans %}Edit Account{% endtrans %}
					<i class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" data-target="#EditaccModal"></i>
					</div>
				</div>

				<div style="padding-top:5px" class="panel-body" >

          <label for="editaccountname" id="accname">{% trans %}List of Accounts{% endtrans %} :</label>
          <select class = "form-control input-sm" id="editaccountname"  name = "editaccountname" >
            <option value="" disabled selected hidden>{% trans %}Select Account{% endtrans %}</option>
            {% for accs in gkresult %}
            <option value="{{accs['accountcode']}}" sysaccount="{{accs["sysaccount"]}}">{{accs["accountname"]}}</option>
            {% endfor %}
          </select>
					<div class="alert alert-warning nopadding" id="alertmsg"  aria-live="rude" role="alert" hidden>
						<strong>{% trans %}This is a system generated account, it cannot be edited/deleted.{% endtrans %}</strong>
					</div>
					<div class="alert alert-warning nopadding" id="accnamenoedit"  aria-live="rude" role="alert" hidden>
						<strong>{% trans %}Only opening balance of this system generated account can be edited.{% endtrans %}</strong>
					</div>
					<br>
					<form id="editaccountform" method="post"  action="editaccount" class="form-horizontal" hidden>

						<div style="margin-bottom: 5px" class="col-xs-12 from-group">
						  <label for="groupname" id="gname">{% trans %}Group Name{% endtrans %} :</label>
						  <select class="form-control gsselect input-sm" id="groupname" name="groupname" accesskey="g">
						    <option value="" disabled selected hidden>{% trans %}Select Group{% endtrans %}</option>
						    {% for grps in groupdata %}
						      <option value="{{grps['groupcode']}}" selected>{{grps["groupname"]}}</option>
						    {% endfor %}
						  </select>
							<br/>
							<label for="subgroupname" id="sname">{% trans %}Sub-Group Name{% endtrans %} :</label>
							<select class = "form-control gsselect input-sm" id="subgroupname" name="subgroupname" accesskey="b">
							  <option value="" disabled selected hidden>{% trans %}Select Sub-Group{% endtrans %}</option>
							</select>
							</br>
							<div id="nsgp" style="margin-bottom:25px" class="input-group">
							  <label for="newsubgroup" id="newsgrp">{% trans %}Ne<u>w</u> Sub-Group Name{% endtrans %} : </label>
							  <input type="text" id="newsubgroup" class="form-control input-sm" name="newsubgroup" placeholder="New Sub-Group Name" accesskey="w" ></input>
							</div>
							<label for="accountname" id="accname">{% trans %}New Name of <u>A</u>ccount{% endtrans %} :</label>
							<input type="text" id="accountname" class="form-control input-sm" name="accountname" accesskey="a"></input>
							</br>
							<label for="openingbal" id="openbal">{% trans %}<u>O</u>pening Balance{% endtrans %} :</label>
							<input type="text" id="openingbal" class="form-control input-sm" name="openingbal" style="text-align:right" accesskey="o"></input>
							</br>
							<input type="hidden" id="accountcode" class="form-control" name="accountcode" ></input>

							<button type="submit" class="btn btn-success btn-sm" id="submit" name="submit" accesskey="s"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans %}<u>S</u>ave{% endtrans %}</button>
							<button id="reset" class="btn btn-warning btn-sm" accesskey="e"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}R<u>e</u>set{% endtrans %}</button>
							<button id="delete" class="btn btn-danger btn-sm" accesskey="d"><i class="fa fa-trash-o" aria-hidden="true"></i> {% trans %}<u>D</u>elete{% endtrans %}</button>
							<button id="edit" class="btn btn-primary btn-sm" accesskey="t"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans %}Edi<u>t</u>{% endtrans %}</button>

						</div>
					</form>
					<div id="EditaccModal"  tabindex="-1" class="modal fade" role="dialog"style="width:650px; margin-top: 150px; margin-left:325px;;"  aria-hidden="true">
  <div class="modal-dialog bgcolor " >
    <div class="modal-content ">
    <div class="modal-header">
      {% trans %}<strong>Help!</strong>{% endtrans %}
   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

       <p>   <font color=" #566573"> {%trans%}
This screen let's you edit or delete existing accounts.</br>
Choose an account from the account name drop down. You will see the details of that account such as it's group name, opening balance etc.</br>
You can click edit button or press enter on the account you select.
Account can be selected either using arrows or typing the first few characters quickly.</br>
Note that an account with either opening balance or transactions cannot be deleted.</br>
In the Edit mode, you can use Enter key to navigate forward and up arrow to navigate backward.</br>
Note you can't change the group or sub-group of an account. {% endtrans %}</font>

        </p>
      </div>

    </div>
  </div>
</div>


					<div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
						<div class="vertical-alignment-helper">
							<div class="modal-dialog modal-sm vertical-align-center">
								<div class="modal-content">
									<div class="modal-header">

										<h4 class="modal-title">{% trans %}Delete?{% endtrans %}</h4>
									</div>
									<div class="modal-body">
										<p>{% trans %}Are you sure?{% endtrans %}</p>
									</div>
									<div class="modal-footer">
										<button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> {% trans %}No{% endtrans %}</button>
										<button type="button" id="accdel" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-check" aria-hidden="true"></i> {% trans %}Yes{% endtrans %}</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div>
					</div><!-- /.modal -->
				</div>
			</div>
		</div>

		<div style="padding-top:5px" class="col-md-6 shadow" id="baltbl" >
			<table class="table table-condensed">
				<thead>
					<tr>
						<th class="col-xs-6">{{baltbl[0]}}</th>
					</tr>
					<tr class="thead">
						<th class="col-xs-6">{% trans %}Group Name{% endtrans %}</th>
						<th class="rightJustified col-xs-3">{% trans %}No. of Accounts{% endtrans %}</th>
						<th class="rightJustified col-xs-3">{% trans %}Group Balance{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for i in range(1,5) %}
					<tr>
						<td class="col-xs-6">{{baltbl[i]["groupname"]}}</td>
						<td class="col-xs-3" align="right">{{baltbl[i]["numberofaccounts"]}}</td>
						<td class="col-xs-3" align="right">{{baltbl[i]["groupbalance"]}}</td>
					</tr>
					{% endfor %}
					<tr>
						<th class="col-xs-6">{% trans %}Total{% endtrans %}</th>
						<th class="col-xs-3"></th>
						<td class="col-xs-3" align="right"><b>{{baltbl[5]["Total"]}}</b></td>
					</tr>
				</tbody>
			</table>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th class="col-xs-6">{{baltbl[6]}}</th>
					</tr>
					<tr class="thead">
						<th class="col-xs-6">{% trans %}Group Name{% endtrans %}</th>
						<th class="rightJustified col-xs-3">{% trans %}No. of Accounts{% endtrans %}</th>
						<th class="rightJustified col-xs-3">{% trans %}Group Balance{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for i in range(7,((baltbl|length)-2)) %}
					<tr>
						<td class="col-xs-6">{{baltbl[i]["groupname"]}}</td>
						<td class="col-xs-3" align="right">{{baltbl[i]["numberofaccounts"]}}</td>
						<td class="col-xs-3" align="right">{{baltbl[i]["groupbalance"]}}</td>
					</tr>
					{% endfor %}
					<tr>
						<th class="col-xs-6">{% trans %}Total{% endtrans %}</th>
						<th class="col-xs-3" ></th>
						<td class="col-xs-3" align="right"><b>{{baltbl[((baltbl|length)-2)]["Total"]}}</b></td>
					</tr>
					<tr>
						<th class="col-xs-6">{% trans %}Difference in Balance{% endtrans %}</th>
						<th class="col-xs-3"></th>
						<td class="col-xs-3" align="right"><b>{{baltbl[((baltbl|length)-1)]["Difference in balance"]}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editaccount.js')}}"></script>
</body>
</html>
