<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}List of Invoices{% endtrans %}</title>
    <style type="text/css">
     .shadow {
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     #latable td {
         font-size: 75%;
         padding: 4 !important;
         margin: 4 !important;
     }
     #latable th {
         font-size: 85%;
     }
     .card-view .title {
         font-weight: bold;
         display: inline-block;
         min-width: 30%;
         text-align: left !important;
     }
     #latable tbody {
         display:block;
         height: calc(69vh);
         overflow-y:scroll;
     }
     #latable thead,#latable tbody tr {
         display:table;
         width:100%;
         table-layout:fixed;
     }
     #latable thead {
         width: calc( 99.1% );
     }
     .biglwrap {
         width:20%;
     }
     .mdlwrap {
         width:12%;
     }
     .smlwrap {
         width:9%;
     }
     .qtylwrap {
         width:8%
     }
     .srnowrap {
         width:7%;
     }
     .modaltext {
         font-size: 0.8em;
     }
     .nopadding {
	 padding: 0 !important;
	 margin: 0 !important;
     }

     .fixed-table td {
	 font-size: 75%;
	 padding: 4 !important;
	 margin: 4 !important;
     }
     .fixed-table th {
	 font-size: 85%;
     }

     .fixed-tablepurchase tbody {
	 display:block;
	 height: calc(69vh);
	 min-height: 160px;
	 overflow-y:scroll;
     }

     .fixed-tablesale tbody {
	 display:block;
	 height: calc(69vh);
	 min-height: 140px;
	 overflow-y:scroll;
     }
     .fixed-table thead ,.fixed-table tbody tr,.fixed-table tfoot tr {
	 display:table;
	 width:100%;
	 table-layout:fixed;
     }
     .fixed-table thead {
	 width: calc( 99.1%);
     }

     .fixed-table tfoot {
	 display:block;
	 width: calc( 100% - 0.75em );
     }
    </style>
   </head>
   <body>
     <div id="listdiv">
       <div class="col-xs-10 nopadding">
      <input type="text" id="invoicetypeselect" value={{flag}} hidden></input>
      <span class="pull-right" style="padding-right:15px"><i>{% trans %}Period{% endtrans %}</i> : <strong id="fromdate" data-fromdate="{{fromdate}}">{{displayfromdate}}</strong> {% trans %}to{% endtrans %} <strong id="todate" data-todate="{{todate}}">{{displaytodate}}</strong></span>
      <span style="margin-left: 46.4%;"><strong>List of <i>{%if flag == "0" %}All{%elif flag == "1" %}Sales{%elif flag == "2" %}Purchase{% endif %}</i> Invoices</strong></span>
      <br>
       </div>
       <div class="pull-right input-group input-group-sm" style="margin-bottom:2px;">
	 <span class="input-group-addon glyphicon glyphicon-search" id="reportsearchspan">
	 </span>
	 <input id="reportsearch" class="form-control" type="text" accesskey="s" placeholder="{% trans %}Quick Search{% endtrans %}"/>
	 <span class="input-group-addon glyphicon glyphicon-arrow-left" id="reportclearsearchspan" style="display:none;">
	 </span>	 
       </div>
      <table id="latable" class="table shadow table-bordered" >
         <thead class="bg-primary">
            <tr>
               <th class="srnowrap text-center" >
                  {% trans %}Sr.No.{% endtrans %}
               </th>
               <th class="srnowrap text-center" >
                  {% trans %}INV No.{% endtrans %}
               </th>
               <th class="smlwrap text-center" >
                  {% trans %}INV Date{% endtrans %}
               </th>
               <th class="srnowrap text-center" >
                  {% trans %}DC No.{% endtrans %}
               </th>
               <th class="smlwrap text-center" >
                  {% trans %}DC Date{% endtrans %}
               </th>
               <th class="mdlwrap text-center" >
                  {%if flag == "0" %}{% trans %}Cust/Supp Name{% endtrans %}{%elif flag == "1" %}{% trans %}Customer Name{% endtrans %}{%elif flag == "2" %}{% trans %}Supplier Name{% endtrans %}{% endif %}
               </th>
               <th class="mdlwrap text-center" >
		 {% if resultgstvat == '7' %}
		   {% trans %}GSTIN{% endtrans %}
		 {% elif resultgstvat == '22' %}
                   {% trans %}TIN{% endtrans %}
		 {% else %}
		   {% trans %}TIN/GSTIN{% endtrans %}
		   {% endif %}
               </th>
               <th class="smlwrap text-right" >
                  {% trans %}Gross Amt{% endtrans %}
               </th>
               <th class="smlwrap text-right" >
                  {% trans %}Net Amt{% endtrans %}
               </th>
               <th class="smlwrap text-right" >
                  {% trans %}TAX Amt{% endtrans %}
               </th>
               <th class="mdlwrap text-center" >
                  {% trans %}Godown{% endtrans %}
               </th>
            </tr>
         </thead>
         <tbody>
           {% for invoice in gkresult %}
             <tr data-invid="{{invoice["invid"]}}" data-csflag="{{invoice["csflag"]}}">
            <td class="srnowrap text-center">{{invoice["srno"]}}</td>
            <td class="srnowrap text-center"><a class="libgname" href="">{{invoice["invoiceno"]}}</a></td>
            <td class="smlwrap text-center">{{invoice["invoicedate"]}}</td>
            <td class="srnowrap text-center">{{invoice["dcno"]}}</td>
            <td class="smlwrap text-center">{{invoice["dcdate"]}}</td>
            <td class="mdlwrap text-center">{{invoice["custname"]}}</td>
            <td class="mdlwrap text-center">{{invoice["custtin"]}}</td>
            <td class="smlwrap text-right">{{invoice["grossamt"]}}</td>
            <td class="smlwrap text-right">{{invoice["netamt"]}}</td>
            <td class="smlwrap text-right">{{invoice["taxamt"]}}</td>
            <td class="mdlwrap text-center">{{invoice["godown"]}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      <span style="margin:auto; display:table;">
         <nbsp>
         <nbsp>
         <button type="button" class="btn btn-sm btn-warning" id="viewanotherlist" accesskey="w"><i class="fa fa-eye" aria-hidden="true"></i> {% trans %}Vie<u>w</u> Another List{% endtrans %}</button>
         <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x"><i class="fa fa-file-excel-o" aria-hidden="true"></i> {% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
         <button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="n"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}View Pri<u>n</u>table Version{% endtrans %}</button>
      </span>
     </div>
     <div id="viewinvdiv" hidden>
       <div class="panel">
	 <div class="panel-body">
	   <div id="invload">
	     
	   </div>
	   <div id="printload">
	     
	   </div>
	 </div>
       </div>
       <div class="col-sm-3 col-sm-offset-3" id="buttondiv">
	 <button type="button" class="btn btn-sm btn-primary pull-right" id="backbutton" accesskey="b" style="margin-left:10px;">{% trans %}<u>B</u>ack{% endtrans %}</button>
	 <button type="button" class="btn btn-sm btn-danger pull-right" id="printbutton" accesskey="t">{% trans %}Prin<u>t</u>{% endtrans %}</button>
       </div>
     </div>     
      <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
      <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/listofinvoices.js')}}"></script>
   </body>
</html>
